<nav>
  <div class="site-title">
    <a href="/"><h1>howardl</h1></a>
    <p>Started out with nothin...an still got most of it left</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>